.content-spacing {
	margin: 0;
	max-width: $content-max-width;
	padding: 0 $content-spacing;
}

.flex {
	display: flex;
}
.column {
	flex-direction: column;
}


//scroll
.scroll::-webkit-scrollbar {
	width: 10px;
	background-color: $layout;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: $lime;
	border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb:hover {
	background-color: $lime-hover;
}

.scroll::-webkit-scrollbar-track {
	background-color: $layout-lighter;
	// border-radius: 10px;
}