.landing-page-aside-layout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-area: nav-bar;
    min-height: 0;
    position: relative;
    height: 100%;
    width: 461px;
    // width: calc(var(--nav-bar-width) + 9px);
    z-index: 3;
}
