.main-layout-nav-bar {
    grid-area: main-view;
    height: 64px;
    min-width: 0;
    pointer-events: none;
    z-index: 2;
    width:100%;
    //width: calc(100% - 461px);
    .nav-layout {
        padding: 16px 32px;
        padding-inline-end: 32px;

        .pagination-buttons {
            height: 64px;
            display: flex;
            gap: 16px;
            button {
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.7);
                border: none;
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                height: 32px;
                justify-content: center;
                position: relative;
                width: 32px;
                cursor: not-allowed;
                opacity: 0.6;
            }
        }
    }
}
