.search-container > * {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

.search-container {
	.search-layout-title {
		max-width: 1955px;
		padding: 0 30px;
	}
}

.search-layout-container {
	margin: 0;
	max-width: 1955px;
	padding: 0 16px;

	// grid-gap: 24px;
    row-gap: 16px;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    // @media (min-width: 400px) {
    //     .search-layout-container {

    //         grid-template-columns: repeat(2, minmax(0, 1fr));

    //     };
        
    // }

    // @media (min-width: 500px) {
    //     .search-layout-container {

    //         grid-template-columns: repeat(3, minmax(0, 1fr));
    //     };
        
    // }

    // @media (min-width: 700px) {
    //     .search-layout-container {
    //         grid-template-columns: repeat(4, minmax(0, 1fr));
    //     };
    // }

	margin-top: 32px;
	grid-auto-rows: auto;
	grid-template-rows: 1fr;
	overflow-y: hidden;

	a {
        display:block;
		border: none;
		border-radius: 8px;
		overflow: hidden;
		position: relative;
		// width: 100%;
        max-width: 230px;
        max-height: 230px;
        
        min-width: 188px;
        min-height: 188px;

        width: 100%;
        height: 100%;
		// background-color: rgb(225, 51, 0);
		color: #fff;
		text-decoration: none;
		span {
			max-width: 100%;
			overflow-wrap: break-word;
			padding: 16px;
			position: absolute;

			box-sizing: border-box;
			-webkit-tap-highlight-color: transparent;
			margin-block: 0px;
			font-size: rem(18px);
			font-weight: 700;
			color: inherit;
		}
		img {
			object-fit: cover;
			object-position: center center;
			bottom: 0;
			-webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
			box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
			height: 100px;
			position: absolute;
			width: 100px;
			right: 0;
			-webkit-transform: rotate(25deg) translate(18%, -2%);
			transform: rotate(25deg) translate(18%, -2%);
		}
	}
}

.search-input-container {
	white-space: nowrap;

	-webkit-app-region: no-drag;
	pointer-events: auto;
	-webkit-box-flex: 0;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	form {
		width: 40%;
		position: relative;
		width: 40%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		align-content: center;
	}
	input {
		color: rgb(0, 0, 0);
		font-size: rem(16px);
		border: 0;
		border-radius: 500px;
		color: #000;
		height: 40px;
		padding: 6px 48px;
		text-overflow: ellipsis;
		width: 90%;
		text-transform: none;
		&:focus-visible {
			outline: 2px solid rgb(62, 117, 194);
		}
	}

	span {
		background-image: url('../../../../../assets/svg/search-magnify-magnifier-glass-svgrepo-com.svg');
		-webkit-box-flex: 1;
		color: #121212;
		left: 32px;
	}
	span,
	button {
		position: absolute;

		width: 30px;
		height: 30px;
		background-size: cover;
		background-size: cover;
	}
	button {
		position: absolute;
		background-color: transparent;
		background-image: url('../../../../../assets/svg/close-svgrepo-com.svg');
		border: 0;
		color: #121212;
		padding: 0;
		pointer-events: auto;
		right: 32px;
	}
}
