.aside-logo-container {
	border: 0;
	margin: 0;
	padding: 0;
	display: block;
	background: url('../../../../assets/svg/Spotify_logo_with_text.svg') no-repeat;
	max-height: 50px;
	max-width: 250px;
	height: 100%;
	width: 100%;
	margin: 0 0 0 16px;
	// a {
	//     text-decoration: none;
	//     color: #fff;
	//     position: relative;
	//     -webkit-box-flex: 1;
	//     border: 0;
	//     -ms-flex: 1;
	//     flex: 1;
	//     margin-bottom: 18px;
	//     padding: 0 24px;
	//     svg {
	//         //TODO update to a responsive logo;
	//         // height: 40px;
	//         // max-width: 131px;
	//         width: 100%;
	//     }
	// }
}
