.nav-options-preview-ul {
    list-style: none;
    width: 100%;
    padding: 0;
    li {
        padding: 0 8px;
        a {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 4px;
            cursor: pointer;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 16px;
            height: 40px;
            padding: 0 16px;
            text-decoration: none;
            span {
                @media (min-width: 768px) {
                    font-size: rem(14px);
                    box-sizing: border-box;
                    margin-block: 0px;
                    font-size: 0.8125rem;
                    font-weight: 700;
                    color:$span-secondary;
                }
            }
            span:hover {
                transition: color ease-in 0.2s;
                color: $text-base;
            }

            .active-option {
                color: $text-base;
            }
            .home {
                background-image: url("../../../../assets/svg/home-svgrepo-com.svg");
            }

            .search {
                background-image: url("../../../../assets/svg/search-svgrepo-com.svg");
            }

            .library {
                background-image: url("../../../../assets/svg/library-svgrepo-com.svg");
            }

            .likedSongs {
                background-image: url("../../../../assets/svg/file-liked-svgrepo-com.svg");
            }

            .createPlaylist {
                background-image: url("../../../../assets/svg/add-square-svgrepo-com.svg");
            }
            .home,
            .search,
            .library,
            .likedSongs,
            .createPlaylist {
                height: 24px;
                width: 24px;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}
