.functions-preview-container {
    vertical-align: baseline;
    flex-direction: row;
    justify-content: flex-end;
    min-width: 180px;
    width: 30%;
    display: flex;

    .function-preview-layout {
        display:flex;
        align-items: center;
        flex-grow: 1;
        justify-content: flex-end;
        height: $button-size;

        :first-of-type(div) {
            height: $button-size;
        }
    }
}