.queue-btn {
	height: $button-size;
	width: $button-size;
	background-color: transparent;
	border: none;
	cursor: pointer;
	svg {
		height: $svg-size;
		width: $svg-size;
		background-image: url('../../../../assets/svg/queue-svgrepo-com.svg');
		background-size: cover;
	}
}
