.main-layout-nav-bar {
    height: 64px;
    min-width: 0;
    pointer-events: none;


    .nav-layout {
        display: flex;
        justify-content: space-between;
        @media (min-width: 1024px) {
            -webkit-padding-end: 32px;
            padding: 16px 32px;
            padding-inline-end: 32px;
        }
        .pagination-buttons {
            height: 64px;
            display: flex;
            gap: 16px;

            button {
                align-items: center;
                background-color: rgba(0, 0, 0, 0.7);
                border: none;
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: inline-flex;
                height: 32px;
                justify-content: center;
                position: relative;
                width: 32px;
            }
        }
    }
}

.user-profile {
    height: 32px;
    :hover {
        background-color: #282828;
    }

    button {
        cursor: pointer;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        border: 0;
        border-radius: 23px;
        color: #fff;
        display: flex;
        gap: 8px;
        height: 32px;
        justify-content: center;
        padding: 2px;
        position: relative;
        figure {
            width: 28px;
            height: 28px;
            display: inline-block;
            position: relative;
            margin: 0;
            img {
                user-select: none;
                object-position: center center;
                border-radius: 50%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%;
            }
        }

        span {
            line-height: 28px;
            max-width: 110px;
            overflow: hidden;
            pointer-events: none;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            margin-block: 0px;
            font-size: 0.8125rem;
            font-weight: 700;
        }
        svg {
            fill: currentcolor;
            margin-inline-end: 6px;
            height: 16;
            width: 16;
        }
    }
}
