@font-face {
    font-family: CircularStd-Black;
    src: url('./fonts/Circular-Font-Family/CircularStd-Black.otf');
}

@font-face {
    font-family: CircularStd-Bold;
    src: url('./fonts/Circular-Font-Family/CircularStd-Bold.otf');
}
