// Colors
$text-subdued: #a7a7a7;
$text-base: #fff;
$lime: #1db954;
$lime-hover: #0f9d58;
$spinner: #3d5af1;
$dark: #000;
$layout: #121212;
$layout-secondary: #181818;
$layout-lighter: #222222f9;
$layout-1: #282828;
$hover-layout: #ffffff1a;
$span-secondary: #ffffffb3;
$box-shadow-primary: #00000033;

$min-column-width: 270px;
$item-height: 80px;
$column-gap: 24px;
$row-gap: 16px;
$navHeight: 80px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

//Buttons
$button-size: 32px;
$svg-button-size: 16px;
$svg-size: 16px;

// Screen Width
$content-max-width: 1955px;
$content-spacing: 32px;

$column-width: 185px;
$column-count: 6;
$grid-gap: 24px;
$min-container-width: 394px;
$card-container-border-radius: clamp(4px, $column-width - 32px * 0.025, 8px);
$shelf-min-height: 300px;
